.popup__input-error {
  font-weight: normal;
  font-size: 12px;
  color: red;
  line-height: 1.25;
  position: absolute;
  top: 150px;
}

.popup__input-error:nth-of-type(even) {
  top: 210px;
}

@media screen and (max-width: 510px) {
  .popup__input-error {
    top: 95px;
  }
}

@media screen and (max-width: 510px) {
  .popup__input-error:nth-of-type(even) {
    line-height: 1;
    top: 150px;
  }
}
