.cards{
  margin-top:51px;
  max-width: 882px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 18px;
  padding: 0;
  background-color: black;
}

@media screen and (max-width: 920px) {
  .cards {
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 282px);
    margin-top: 40px;
  }
}
