.auth__redirect {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 425px) {
  .auth__redirect {
    font-size: .75rem;
    line-height: .9375rem;
  }
}

