.auth-form__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  margin: 0 auto;
}

@media screen and (max-width: 424px) {
  .auth-form__title {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

