.header__nav{
    font-family: "Inter",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 904px) {
  .header__nav {
    margin-right: 27px;
    font-size: .875rem;
    line-height: 1.0625rem;
  }
}


