.infoTooltip__caption {
  color: black;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 32px 0 60px;
  width: 80%;
}
