.auth-form__submit {
  width: 100%;
  height: 50px;
  margin-top: 216px;
  background: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .15s linear;
}

.auth-form__submit:hover {
  opacity: .85;
}

.auth-form__submit:focus {
  outline: none;
}

.auth-form__submit:active {
  opacity: 1;
  transition: 0s;
}
