@import url(__input/auth-form__input.css);
@import url(__submit/auth-form__submit.css);
@import url(__title/auth-form__title.css);

.auth-form {
  padding-top: 50px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

@media screen and (max-width: 424px) {
  .auth-form {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}

